:root {
  --polly-transition-ease-out: cubic-bezier(0.22, 1, 0.36, 1);
  --polly-transition-ease-in: cubic-bezier(0.64, 0, 0.78, 0);
}

.fa-spin {
  --fa-animation-timing: ease-in-out;
  --fa-animation-duration: 850ms;
}

.p-rotate-180 {
  transform: rotate(-180deg);
}

.p-rotate-90 {
  transform: rotate(90deg);
}

.loading-transition-enter-active {
  transition: all 200ms ease-in-out;
}

.loading-transition-leave-active {
  transition: all 200ms ease-in-out;
}

.loading-transition-enter-from {
  opacity: 0;
  position: absolute;
  transform: translateY(-100%);

}

.loading-transition-leave-to {
  opacity: 0;
  position: absolute;
  transform: translateY(100%);
}
