@import url(./reset.css);
@import url(./animations.css);
@import url(./borders.css);
@import url(./colors.css);
@import url(./tokens.css);
@import url(./brand.css);
@import url(./font.css);
@import url(./layers.css);
@import url(./spacing.css);
@import url(./typography.css);
@import url(./grid.css);
@import url(./width.css);

[data-theme='dark'] {
  --colors-neutral-darkest: var(--colors-grey-25);
  --colors-neutral-darker: var(--colors-grey-100);
  --colors-neutral-dark: var(--colors-grey-200);
  --colors-neutral-mid: var(--colors-grey-500);
  --colors-neutral-light: var(--colors-grey-600);
  --colors-neutral-lighter: var(--colors-grey-700);
  --colors-neutral-lightest: var(--colors-grey-900);
  --colors-neutral-white: var(--colors-grey-black);
  --colors-neutral-white-transparent: var(--colors-grey-white-0);
}

html,
body {
  color: var(--colors-text-icon-dark);
  background-color: var(--colors-background-common-default-grey);
  transition: color 300ms, background-color 300ms;
}

dialog,
[popover] {
  background: transparent;
}
